<!doctype html>
<html>
    <head>
        
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">  

          <link rel="stylesheet" href="./style.css">
       
    </head>
    <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="welcome">Swaroop Gembali</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    
      <li ><a href="welcome">Home</a></li>
      <li ><a href="index">About Me</a></li>
      <li><a href="/calculate">Your Choice</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="gbindex">GuestBook</a></li>
    </ul>
    </div>
</nav>



    <div class="row">
        <div class="col-md-6">
            <div class="intro">
            <h1><b>WELCOME TO MY WEBSITE</b></h1>
                       
           
                    <section>
                        
                        <h2>Here you can find about my background,intrests and Contact page for sending message to me. </h2>
                        
                    </section>
                    <section>
                        <h2>Along with that you can find out Guestbook page where we can add guest entries and your choice page for employee pay calculator</h2>
                       
                    </section>
                    <section>
                     <h2></h2>
                       
                    </section>

                  
                    
</div>








        </div>







    <div class="col-md-6">
        <img src="Swaroop.jpg" class="img-circle" alt="profile pic" id="im1">

        <iframe  width="425" height="344" src="https://www.youtube.com/embed/_qBE_Z8JbzY"  allowfullscreen id="if1"></iframe>

    </div>

    
 
<footer id="f1">
 
  <p>Contact information:swaroopg790@gmail.com</p>
  <p>Phone No: +1 660 528 0754</p>


</footer>





 </body>

</html>
















   






              
               
           
       